@import './base.css';
@import 'tailwindcss';
@import 'tw-animate-css';

.main-layout {
  @apply h-screen w-screen relative bg-slate-900;
  background-image: url('./his-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130vh auto;
}

.main-layout-overlay {
  @apply absolute top-0 left-0 h-full w-full flex items-center justify-center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
